# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cache/
dist/
build/

# Env
.env
.env.*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

serviceAccountKey.json

serviceAccountKey.json

/tools/
